:root {
    --blue: #36c;
    --blue-light: #447ff5;
    --gray: rgb(144, 144, 144);
    --gray-light: #f8f9fa;
    --gray-light-2: #eaecf0;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

input {
    border: none;
    outline: none;
}

button {
    background: transparent;
    border: none;
    outline: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 .5rem;
}

.bg-gray-light {
    background: var(--gray-light);
}

/*  */

.sprite {
    background-image: linear-gradient(transparent,transparent),url(https://www.wikipedia.org/portal/wikipedia.org/assets/img/sprite-e99844f6.svg);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.svg-Wikipedia_wordmark {
    background-position: 0 -254px;
    width: 176px;
    height: 32px;
}

.svg-language-icon {
    background-position: 0 -617px;
    width: 22px;
    height: 22px;
}

.svg-arrow-down-blue {
    background-position: 0 -527px;
    width: 14px;
    height: 14px;
}

.svg-Wikimedia-logo_black {
    background-position: 0 -212px;
    width: 42px;
    height: 42px;
}

.svg-badge_google_play_store {
    background-position: 0 -541px;
    width: 124px;
    height: 38px;
}

.svg-badge_ios_app_store {
    background-position: 0 -579px;
    width: 110px;
    height: 38px;
}

.svg-wikipedia_app_tile {
    background-position: 0 -719px;
    width: 42px;
    height: 42px;
}

.svg-Commons-logo_sister {
    background-position: 0 0;
    width: 47px;
    height: 47px;
}

.svg-Wikivoyage-logo_sister {
    background-position: 0 -446px;
    width: 36px;
    height: 36px;
}

.svg-Wiktionary-logo_sister {
    background-position: 0 -482px;
    width: 37px;
    height: 37px;
}

.svg-Wikibooks-logo_sister {
    background-position: 0 -126px;
    width: 37px;
    height: 37px;
}

.svg-Wikinews-logo_sister {
    background-image: url(portal/wikipedia.org/assets/img/Wikinews-logo_sister.png);
    background-position: 0 0;
    -webkit-background-size: 47px 26px;
    -moz-background-size: 47px 26px;
    background-size: 47px 26px;
    width: 47px;
    height: 26px;
}


/* search section */
.search-section {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 0 auto;
}

.logo-container img {
    width: 57px;
}

.title-container .title {
    color: transparent;
    font-weight: 300;
    text-transform: uppercase;
}

.search-bar-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 1rem auto;
}

.search-bar-container .search-input-container {
    display: flex;
    width: 90%;
    height: 3rem;
    padding: 0 1rem;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: var(--gray);

}

.search-input-container input {
    width: 100%;
}

.search-input-container select {
    margin-left: auto;
    border: none;
}

.search-bar-container .search-button {
    width: 15%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--blue);
    color: white;
    cursor: pointer;
}

.search-bar-container .search-button:hover {
    background: var(--blue-light);
}

.languages {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    gap: 10px;
    min-height: 120px;
}

.lenguage-articles {
    width: 100px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid; */
}

.lenguage-articles a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--blue);
}
.lenguage-articles strong {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: .4rem;
}

.lenguage-articles span, p {
    color: black;
}

.translator-selector-wrapper {
    display: flex;
    align-items: center;
    gap: .3rem;
    color: var(--blue);
    height: 2rem;
    outline: 1.6rem solid #fff;
    border: 1px solid #a2a9b1;
    font-weight: 700;
    line-height: 1;
    padding: 0 1rem;
}

.translator-selector-wrapper p {
    color: var(--blue);
}



/* footer */
footer {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
}

.flex {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 400px;
    margin-bottom: 2rem;
}

.app .item {
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding: 1rem .5rem;
}

.item div {
    text-align: center;
}

.item div a {
    color: var(--blue);
}

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
    height: 100%;
}

.project {
    width: 170px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.project-link {
    display: flex;
    gap: 10px;
}

.project:hover {
    background: var(--gray-light-2);
}

.project-text {
    display: flex;
    flex-direction: column;
    max-width: 120px;
}

.app-stores {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: 10px;
}

.license {
    padding: 2rem 0;
    text-align: center;
}

@media (min-width: 768px) {
    .flex {
        flex-direction: row;
    }

    .project {
        width: 250px;
    }
}